<template>
    <div class="edit">
        <div class="edit_header">
            <img class="edit_header_avatagroup" :src=" groupAvatar " alt="">
            <h4>{{ groupName }}</h4>
            <p>Đang hoạt động</p>
        </div>
        <div class="edit_body">
            <div class="">

                <div class="edit_body_option">
                    <span @click="onEditMember()">Thành viên trong đoạn chat</span>
                </div>
                <div class="edit_body_option_member" :class="isShowEditMember ? 'd-block' : 'd-none'">
          
                    <div class="edit_body_option_member_card" 
                            v-for="member in memberGroup" 
                            :key="member.user_id">
                        <img :src=" getAvatarMember(member) " alt="">
                        <span style="margin: 8px;">{{ member.name }}</span>
                    </div>
                    <div @click="onShowAddMember()" class="edit_body_option_member_card">
                        <button>+</button>
                        <span style="margin: 8px;">Thêm thành viên</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="edit_body_option">
                    <span @click="onEditManage()">Tùy chỉnh đoạn chat</span>
                </div>
                <div class="edit_body_option_member" :class="isShowEditGroup ? 'd-block' : 'd-none'">
                    <div class="edit_body_option_member_card" @click="onEditGroupName()">
                        <EditTwoTone class="icon"/>
                        <span style="margin: 6px; " >Đổi tên đoạn chat</span>
                    </div>
                    <div class="edit_body_option_member_card position-relative" >
                        <AreaChartOutlined class="icon"/>
                        <span style="margin: 6px;" >Đổi ảnh đoạn chat</span>
                        <input type="file" class="input_file position-absolute " @change="handleAvatarGroup" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { computed, ref } from "vue";
import { useMessageStore } from "../../stores/useMessageStore";
import { useGroupStore } from "../../stores/useGroupStore";
import { useFormStore } from "../../stores/useFormStore"
import { AreaChartOutlined, EditTwoTone } from "@ant-design/icons-vue";
import { useRouter, useRoute } from "vue-router";


const route = useRoute()
const groupId = computed(() => route.params.id)
    const isShowEditMember = ref(false) 
    const isShowEditGroup = ref(false)
    const newAvatarGroup = ref('')
    const groupName = computed(() => useMessageStore().groupName)
    const memberGroup = computed(() => useGroupStore().memberGroup)
    const groupAvatar = computed(() => useGroupStore().avatarGroup)
    

    const getAvatarMember = (value) => {
        return value.avatar_user
    }

    const onEditMember = () => {
        isShowEditMember.value = !isShowEditMember.value
    }

    const onEditManage = () => {
        isShowEditGroup.value = !isShowEditGroup.value
    }

    const onEditGroupName = () => {
        useFormStore().showEditGroupNameHandler()
    }
    
    const onShowAddMember = () => {
        useFormStore().showAddMemberHandler()
    }

  const handleAvatarGroup = (e) => {
    newAvatarGroup.value = e.target.files[0]
    const formData = new FormData();
      formData.append('bytes', newAvatarGroup.value)

    if (newAvatarGroup.value != '') { 
    //   useGroupStore().updateGroupHandler(null, newAvatarGroup.value,  groupId.value)

      newAvatarGroup.value = ''
      useGroupStore().getGroups()
    }
  }

</script>

<style scoped>
h4{
    margin: 0;
}
p{
    color: rgb(162, 162, 162);
}
.form{
    background: black;
    
}
.edit_header_avatagroup{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 0px auto;
    margin-top: 10px;
    border: 1px solid var(--purple);
}
.edit_body{
    margin: 25px 0px;
    text-align: left;
}
.edit_body_option{
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 600;
}
.edit_body_option:hover{
    background: var(--background);
    border-radius: 5px;
}

.edit_body_option span:hover{
    background: var(--background);
    border-radius: 5px;
}
.edit_body_option_member_card{
    display: flex;
    padding: 5px;
}
.edit_body_option_member_card:hover{
    border-radius: 5px;
    background: var(--background);
}
.edit_body_option_member_card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.edit_body_option_member_card span{
    /* margin: 8px; */
}
.edit_body_option_member_card button{
    padding: 0px 11px;
    border-radius: 50%;
    border: none;
    font-weight: 500;
    font-size: 25px;
}
.input_file{
    left: 0;
    opacity: 0;
}
.icon{
    padding: 9px;
    border-radius: 50%;
    color:  black;
    background: var(--background);
}


</style>

