<template>
  <div class="col-sm-4 d-none d-sm-block app-left">
    <div class="app_left-header">
      <div class="app_left_header-user ">
        <img :src="getAvatar()" alt="" />
        <h4>{{ getUserName() }}</h4>
        <div class="position-relative">
          <EllipsisOutlined class="onProfile" @mouseover="onShowOption()"/>
          <div class="app_left_header_user-option position-absolute" 
              @mouseout="onShowOption()" 
              :class=" isOption ? 'd-none' : 'd-block'">
            <p @click="onShowProfile() ">Profile</p>
            <p @click="onLogout()">Log-out</p>  
          </div>
        </div>
      </div>

      <div class="app_left_header-search position-relative">
        <input type="text" placeholder="Search...." v-model="search" @keyup="isSearch()"/>
        <SearchOutlined class="position-absolute icon" />
        <ul class="outputSearch" :class="(search !== '') ? 'd-block' : 'd-none'">
          <li 
              v-for="user in rearchResults" 
              :key="user"
              @click="onChatUser(user.id, user.name, user.avatar_user)">
            <img :src="user.avatar_user" alt="">
            <span>{{ user.name }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="app_left-body">
      <div
          class="app_left_body-card text-nowrap"
          :class="isActive(group.id)"
          v-for="(group, index) in groups"
          :key="group.id"
          @click="onGoToGroup(group.id, getGroupName(group), index, getAvatarGroup(group))"
          >
        <img :src="getAvatarGroup(group)" alt="" />
        <div class="app_left_body_card-right text-nowrap">
          <h5 class="">{{ getGroupName(group) }}</h5>
          <p class="text-start">tinnhanmoi</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { SearchOutlined, EllipsisOutlined } from "@ant-design/icons-vue";
import { compile, computed, onMounted, onUpdated, ref, resolveDirective } from "vue";
import { useAuthStore } from "../../stores/useAuthStore.js";
import { useGroupStore } from "../../stores/useGroupStore.js";
import { useMessageStore } from "../../stores/useMessageStore.js";
import { useProfileStore } from "../../stores/useProfileStore.js";
import { useRouter, useRoute } from "vue-router";

const authStore = useAuthStore();
const groupStore = useGroupStore();
const messageStore = useMessageStore();
const router = useRouter();
const route = useRoute();

//computed lấy dữ liệu từ store theo dõi nếu có thay dổi thì cập nhập dữ liệu lên giao diện
const groups = computed(() => groupStore.groups);
const rearchResults = computed(() => groupStore.users)
const search = ref('')
const isOption = ref(true)

  onMounted(async () => {
    await groupStore.getGroups();
  })

  function isSearch(){
    if(search.value === ''){
      
      return null
    }
    groupStore.searchUser(search.value)

    return computed(() => groupStore.users)
  }

  const onChatUser = async (userId, userName, userAvatar) => {
    search.value = ""
    groupStore.setAvatarGroup(userAvatar)
    messageStore.setNameGroup(userName)
    await groupStore.createGroup(userId)

    router.push({
          path: "/message/" + groupStore.idGroup,
        });
    groupStore.getGroups()
  }
  const onShowOption = () => {
    isOption.value = !isOption.value
  }
  const onShowProfile = () => {
    useProfileStore().showHandle()
  }

  const onLogout = () => {
    localStorage.setItem('token', '')
    console.log(localStorage.getItem('token'));
    router.push({
          path: "/"
        });
  }

  const onGoToGroup = (groupId, groupName, index, avatar_group) => {
    
    messageStore.setNameGroup(groupName)
    groupStore.setMemberGroup(index)
    groupStore.setAvatarGroup(avatar_group)
    
    return router.push({
      path: "/message/" + groupId
    })
  }

  const isActive = (i) => {
    return i.toString() === route.params.id ? "active" : "";
  };

  const getUserName = () => {
    return localStorage.getItem("name");
  }

  const getAvatar = () => {
    return localStorage.getItem("avatar")
  }

  const getAvatarGroup = (group) => {
    if(group.users[2]){
      
      return group.avatar_group
    }

    return group.users.filter((user) => user.id != localStorage.getItem('id')).map((user) => user.avatar_user)
  }
  const getGroupName = (group) => {
    if (group.name) {
      return group.name;
    }

    return group.users.map((user) => user.name).filter((name) => name !== localStorage.getItem('name')).join(", ");
  };
</script>

<style scoped>
.app_left_header-user {
  padding: 20px 10px;
  display: flex;
}
.app_left_header-user img {
  width: 50px;
  height: 50px;
  border: 2px solid var(--purple);
  border-radius: 50%;
  margin-right: 10px;
}
.app_left_header-user h4 {
  margin-top: 10px;
}
.app_left_header_user-option{
  width: 130px;
  border: 1px solid rgb(223, 223, 223);
  padding: 10px 0;
  border-radius: 8px;
  top: 7px;
  z-index: 1;
  background: white;
}

.app_left_header_user-option p{
  padding: 5px 10px;
  margin: 0;
}
.app_left_header_user-option p:hover{
  background: var(--background);
}
.onProfile{
  padding: 8px;
  margin: 7px 0;
  margin-left: auto;
  font-size: 20px;

  
}
.onProfile:hover{
  border-radius: 50%;
  background: var(--background);
}
.app_left_header-search{
  position: relative;
}
.app_left_header-search input {
  width: 100%;
  border: 1.5px solid rgb(240, 240, 240);
  padding: 3px 15px;
  box-shadow: -5px 5px 13px -6px rgba(206, 206, 206, 0.5);
  border-radius: 10px;
  font-size: 20px;
}
.icon {
  color: #dfdfdfd3;
  right: 24px;
  top: 3px;
  font-size: 24px;
}
.outputSearch{
  background: var(--background);
  position: absolute;
  width: 80%;
  top: 40px;
  border-radius: 10px;
  max-height: 850%;
  overflow-y: scroll;
  border: rgb(249, 249, 249) solid 1px;
  padding: 10px 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.outputSearch li{
  padding: 4px 20px;
  display: flex;
}
.outputSearch li:hover{
  background: rgb(255, 255, 255);
  border-bottom: 2px solid whitesmoke;
  border-left: 3px solid var(--purple);
}
.outputSearch img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.outputSearch span{
  margin: 10px;
}
.app_left-body {
  padding: 10px 5px;
  overflow-y: scroll;
  height: 75vh;
}
.app_left_body-card {
  display: flex;
  padding: 7px;
  border: 3px solid white;
  margin-bottom: 2px;
}
.app_left_body-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 6px;
  border: 2px solid whitesmoke;
} 
.app_left_body-card h5 {
  margin-top: 1%;    
  text-align: left;
  margin-bottom: 0;
}
.app_left_body-card p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.539);
}
.app_left_body-card:hover {
  background: rgba(158, 148, 246, 0.268);
  border-radius: 10px;
  color: rgb(38, 38, 38);
  border: 3px solid var(--purple)
}
.app_left_body-card:hover p {
  color: rgba(0, 0, 0, 0.539);
}
.active {
  background: var(--purple);
  border-radius: 10px;
  color: white;
  /* justify-content: flex-start; */
  border: 3px solid var(--purple)

}
.active p {
  color: rgba(245, 245, 245, 0.571);
}
</style>