<template>
  <div class="col-12 bg-dack app-right position-relative"
      :class="isShowPageMessage()">
      <div class="app_right-header position-absolute d-flex justify-content-between">
        <div class="app_right_header-left">
          <img :src=" groupAvatar " alt="" />
          <h5>{{ groupName }}</h5>
        </div>
        <div class="app_right_header-right position-relative"
            @click="onEditGroup()"
            >
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16"
              :class="state.isShowEdit ? 'is_show' : 'is_close'">
            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
          <div class="close-show-edit position-absolute"
              :class="!state.isShowEdit ? 'is_show' : 'is_close'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16" >
              <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
              <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
          </div>
        </div>
      </div>

      <div class="app_right-body" id="app_right-body">
        <br />
        <br />
        <br />  
        <div class="" 
            v-for="(message, index) in messages" 
            :key="message.id">
          <div class="d-flex" :class="'app_right_body-groupchat'">
            <div class=""  
                v-html="avatarMember(message, index)"></div>

            <div class="" style="width : 100%">
              <div class="" style="text-align : start"
                  :class="( message.user_id == userId  ? 'd-none' : 'd-block ')"
                  >{{ getName(message, index) }}</div>
                
              <div class="chat"
                  :class="renderMessage(message)"
                  >{{ message.content }}</div>
              <img class="" alt="" 
                  style=" width: 50%;
                          height: auto;
                          border-radius: inherit;
                          margin-bottom: 5px;"
                  :src="message.attachment_image" 
                  :class="renderAttachment(message)"  />

            </div>
          </div>
        </div>
      </div>

      <div class="app_right-fotter position-relative">
        <input type="text" class="" v-model="chatNew" />
        <button @click="goAddChat()" class="position-absolute d-flex">
          <svg style="margin-right: 7px" xmlns="http://www.w3.org/2000/svg" width="25"height="25" fill="currentColor" class="bi bi-rocket-takeoff" viewBox="0 0 16 16">
            <path d="M9.752 6.193c.599.6 1.73.437 2.528-.362s.96-1.932.362-2.531c-.599-.6-1.73-.438-2.528.361-.798.8-.96 1.933-.362 2.532"/>
            <path d="M15.811 3.312c-.363 1.534-1.334 3.626-3.64 6.218l-.24 2.408a2.56 2.56 0 0 1-.732 1.526L8.817 15.85a.51.51 0 0 1-.867-.434l.27-1.899c.04-.28-.013-.593-.131-.956a9 9 0 0 0-.249-.657l-.082-.202c-.815-.197-1.578-.662-2.191-1.277-.614-.615-1.079-1.379-1.275-2.195l-.203-.083a10 10 0 0 0-.655-.248c-.363-.119-.675-.172-.955-.132l-1.896.27A.51.51 0 0 1 .15 7.17l2.382-2.386c.41-.41.947-.67 1.524-.734h.006l2.4-.238C9.005 1.55 11.087.582 12.623.208c.89-.217 1.59-.232 2.08-.188.244.023.435.06.57.093q.1.026.16.045c.184.06.279.13.351.295l.029.073a3.5 3.5 0 0 1 .157.721c.055.485.051 1.178-.159 2.065m-4.828 7.475.04-.04-.107 1.081a1.54 1.54 0 0 1-.44.913l-1.298 1.3.054-.38c.072-.506-.034-.993-.172-1.418a9 9 0 0 0-.164-.45c.738-.065 1.462-.38 2.087-1.006M5.205 5c-.625.626-.94 1.351-1.004 2.09a9 9 0 0 0-.45-.164c-.424-.138-.91-.244-1.416-.172l-.38.054 1.3-1.3c.245-.246.566-.401.91-.44l1.08-.107zm9.406-3.961c-.38-.034-.967-.027-1.746.163-1.558.38-3.917 1.496-6.937 4.521-.62.62-.799 1.34-.687 2.051.107.676.483 1.362 1.048 1.928.564.565 1.25.941 1.924 1.049.71.112 1.429-.067 2.048-.688 3.079-3.083 4.192-5.444 4.556-6.987.183-.771.18-1.345.138-1.713a3 3 0 0 0-.045-.283 3 3 0 0 0-.3-.041Z"/>
            <path d="M7.009 12.139a7.6 7.6 0 0 1-1.804-1.352A7.6 7.6 0 0 1 3.794 8.86c-1.102.992-1.965 5.054-1.839 5.18.125.126 3.936-.896 5.054-1.902Z"/></svg>Send
        </button>
        <PaperClipOutlined class="position-absolute icon" />
        <input class="file position-absolute" type="file" @change="handleAttachment"/>
      </div>

    </div>

  <div class="" :class="state.isShowEdit ? 'is_close' : 'col-sm-3'">
  <Edit>

  </Edit>
  </div>
</template>

<script setup>
import Edit from "./Edit.vue"
import { PaperClipOutlined } from "@ant-design/icons-vue";
import { useMessageStore } from "../../stores/useMessageStore.js";
import { ref, reactive, onMounted, computed, watch, onBeforeMount, inject } from "vue"
import { useRouter, useRoute } from "vue-router";
import { useGroupStore } from "../../stores/useGroupStore";
// const router = useRouter();
// const userStore = useAuthStore();
const route = useRoute();
const messageStore = useMessageStore();

const messages = computed(() => messageStore.messages);
const groupId = computed(() => route.params.id)
const groupName = computed(() => messageStore.groupName)
const groupAvatar = computed(() => useGroupStore().avatarGroup)
const userId = ref(localStorage.getItem('id'))
const chatNew = ref('')
const attachment = ref('')
const echo = inject('echo') 

  const state = reactive({
    isShowEdit: true,
  });
  onBeforeMount(() => {
    console.log(echo);
    
    echo.private(groupId.value).listen("MessageSent", (data) => {
        console.log(data);
        // const message = data.message;
        // message.user = data.user;
        // list_messages.value.push(message);
        messageStore.setNewChat(data.message)

      });
  });

  onMounted(async () => {
    if(groupId.value){
      
      // listenToMessages()
      await messageStore.getMessages(groupId.value);
    }

    return null
  });

  watch(groupId, async (newValue, oldValue) => {
    if(newValue){
      console.log(echo);

      echo.private(newValue).listen("MessageSent", (data) => {
        console.log(data);
        // const message = data.message;
        // message.user = data.user;
        // list_messages.value.push(message);
        messageStore.setNewChat(data.message)
      });
      await messageStore.getMessages(newValue);
    }

    return null
  }, {deep: true})

  const avatarMember = (message, index) => {
    let beforeUserId = null
    if (index >= 1) {
      beforeUserId = messages.value[index-1].user_id
    }
    if(message.user_id != beforeUserId){
      if(message.user_id != userId.value){
        
        return `<img style="border-radius: 50%; margin-right: 10px;" height=40 width=40 src="` + message.user.avatar_user + `" alt="" />`
      }
    }
    
    return `<div style="width: 45px" ></div>`
  }

  const getName = (message, index) => {
    if(message.user_id != localStorage.getItem('id')){

      let beforeUserId = null
      if (index >= 1) {
        
        beforeUserId = messages.value[index-1].user_id
      }
      if(message.user_id != beforeUserId){
        
        return message.user.name
    }

    return 
  }

  return null
  }
   
  const renderMessage = (message) => {
    if(message.content != null){
      if(message.user_id != userId.value){
        return 'chatgroup'
      }

      return 'app_right_body-userchat'
    }

    return 'd-none'
  }

  const renderAttachment = (message) => {
    if(message.attachment != null){
      if(message.user_id != userId.value){
        return 'chatgroup'
      }

      return 'app_right_body-userchat'
    }

    return 'd-none'
  }

  const handleAttachment = (e) => {
    attachment.value = e.target.files[0]
    const formData = new FormData();
      formData.append('bytes', attachment.value)
  }

  function goAddChat() {
    if(chatNew.value != ''){
      messageStore.addMessage(groupId.value, chatNew.value, null)

      return chatNew.value = ''
    }
    if (attachment.value != '') { 
      messageStore.addMessage(groupId.value, null, attachment.value)

      return attachment.value = ''
    }
  }

  function onEditGroup() {
    state.isShowEdit = !state.isShowEdit;
  }

  function isShowPageMessage(){
    if(groupId.value){
      if (state.isShowEdit) {

        return 'd-block col-sm-8'
      }
      return 'col-sm-5'
    }
    return 'd-none'
  }
</script>

<style scoped>
.app-right {
  background-color: var(--background);
  padding: 10px 15px;
  padding-right: 5px;
  margin: 10px 0;
  border-radius: 10px;
  height: calc(100% - 20px);
}
.app_right-header {
  background: rgba(255, 255, 255, 0.85);
  width: calc(100% - 12px);
  padding: 5px 18px;
  left: 6px;
  top: 4px;
  box-shadow: -1px 5px 13px -6px rgba(112, 112, 112, 0.5);
  border-radius: 10px;
}
.app_right_header-left {
  display: flex;
  border-radius: 24px;
  border: 1px solid #9d93f9;
  box-shadow: 6px 5px 13px -6px rgba(13, 13, 13, 0.5);
  background-color: var(--purple);
  padding: 4px 5px;
  margin-left: -10px;
  height: fit-content;
  width: fit-content;
}
.app_right_header-left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.app_right_header-left h5 {
  color: var(--gray);
  margin: 8px;
  color: white;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app_right_header-right {
  width: 50px;
  height: 50px;
  padding-bottom: 20px;
  margin-top: 2px;
  font-weight: 700;
  font-size: 24px;
}

.app_right_header-right svg {
  padding: 9px;
  height: 50px;
  width: 50px;
  color: #b2b2b2;
}

.app_right_header-right div svg {
  padding: 1px;
  height: 39px;
  width: 50px;
}

.app_right_header-right svg:hover {
  filter: drop-shadow(2px 2px 4px rgb(52, 52, 52));
  padding: 9px;
  height: 50px;
  width: 87px;
  color: #505050;
}
.app_right_header-right div svg:hover {
  filter: drop-shadow(2px 2px 6px rgb(14, 14, 14));
  /* background: rgb(52, 52, 52); */
  padding: 2px;
  height: 39px;
  width: 50px;
}
.is_show {
  display: block;
}
.is_close {
  display: none;
}
.app_right-body {
  margin-top: 5px;
  overflow-y: scroll;
  height: 84vh;
}
.chat {
  width: fit-content;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 10px;
  color: white;
  margin-bottom: 5px;
  font-size: 18px;
}
.app_right_body-userchat {
  background: #ffffff;
  color: black;
  box-shadow: -5px 7px 13px -6px rgba(118, 118, 118, 0.5);
  margin-right: 10px;
  border: 1px solid rgb(220, 220, 220);
}
.app_right_body-groupchat img {
  border: 2px solid var(--purple);
  margin-right: 5px;
}
.app_right_body-groupchat p {
  margin-bottom: 5px;
}
.chatgroup{
  background: var(--purple);
  display: block;
  border-bottom-right-radius: 10px;
}
.app_right_body-groupchat span {
  background: var(--purple);
  display: block;
  border-bottom-right-radius: 10px;
}
.app_right_body-groupchat img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon {
  right: 103px;
  top: 3px;
  font-size: 33px;
  color: #7e7e7e;
}
.app_right_body-userchat {
  margin-left: auto;
  border-top-left-radius: 10px;
}
.app_right-fotter {
  bottom: -3px;
  align-items: center;
}
.app_right-fotter input {
  width: 90%;
  margin-right: 40px;
  border: 1.5px solid rgb(240, 240, 240);
  padding: 7px 15px;
  box-shadow: -5px 5px 13px -6px rgba(206, 206, 206, 0.5);
  border-radius: 10px;
  font-size: 20px;
}
.app_right-fotter input:hover {
  border: 1.5px solid var(--purple);
}
.app_right-fotter button {
  background: var(--purple);
  top: 0px;
  padding: 6.7px 15px;
  right: 2px;
  color: white;
  border: 0.5px solid var(--purple);
  border-radius: 20px;
}
.app_right-fotter .file {
  padding: 0px;
  height: 40px;
  width: 30px;
  right: 68px !important;
  opacity: 0;
}
.app_right-fotter .file:hover .app_right-fotter img {
  background: #000;
}
.close-show-edit {
  color: #9f9f9f;
  top: 3px;
  right: -45px;
  padding: 0 8px;
  border-radius: 50%;
  background: white;
  width: 45px;
  height: 45px;
  border: 4px solid #ebebeb;
}
.col-md-5 .app_right-header {
  width: 97%;
}
</style>