<template>
    <div class="popup position-absolute "
        :class=" isShow ? 'd-block' : 'd-none' "
    >
        <div class="popup_page">
            <div class="popup_page_top position-relative">
                <CloseOutlined class="btn_back position-absolute" @click="offShowProfile()"  />
                <div class="popup_page_top_imagebackground position-relative">
                    <img src="../../assets/image/image.png" alt="">
                    <div class="popup_page_top_avatar position-absolute">
                        <img src="../../assets/image/avata.png" alt="">
                    </div>
                </div>
                <h4>Hoang Trung Kien</h4>
            </div>
        </div>
    </div>
</template>

<script setup>
import { computed } from 'vue';
import { CloseOutlined } from "@ant-design/icons-vue";
// import { useRoute } from "vue-router";
import { useProfileStore } from '../../stores/useProfileStore.js';

const isShow = computed(() => useProfileStore().isShow)

    const offShowProfile = () => {
        useProfileStore().showHandle()
    }

</script>

<style scoped>
.popup{
    left: 0;
    background: rgba(161, 161, 161, 0.572);
    height: 100%;
    text-align: center;
}
.btn_back{
    top: 5px;
    right: 20px;
    padding: 10px;
    width: 35px;
    height: 35px;
    z-index: 1000;
}
.btn_back:hover{
    background: var(--background);
    border-radius: 50%;
}
.popup_page{
    background: white;
    width: 50%;
    height: 95%;
    margin: 1% auto;
    border-radius: 20px;
}
.popup_page_top_imagebackground >img{
    width: 100%;
    padding-top: 35px ;
    height: 160px;
    object-fit: cover;
}
.popup_page_top_avatar{
    top: 100px;
    left: 20px;
}
.popup_page_top_avatar img{
    width: 150px;
    height: 150px;
    border: white solid 4px;
    border-radius: 50%;
}
.popup_page_top h4{
    padding: 25px;
    font-weight: 600;
    font-size: 30px;
}
</style>

