<template>
    <div class="form position-absolute "
            :class="isShowAddMember ? 'd-block' : 'd-none'">
        <div class="form_input position-relative">
            <CloseOutlined  class="btn_back position-absolute"
                    @click="onClickHandler()"/>   
            <h4>Thêm thành viên vào nhóm chat</h4>
            <div class="position-relative">
                <SearchOutlined class="position-absolute search_icon"/>
                <input  style="margin: 10px 0;"  type="text" 
                        v-model="search" 
                        @keyup="isSearch()">
            </div>
            <!--  -->
            <div class="d-flex" style="overflow-x: scroll; width: 100%; height: 111px;">
                <div class="position-relative stack_member"
                        v-for="member in stackMembers"
                        :key="member" >
                    <CloseOutlined style="  padding: 0 3px;  width: 15px; height: 15px;" class="position-absolute"
                            @click="removeFormStack(member.id)"  />
                    <img :src="member.avatar" alt="">
                    <p>{{ member.name }}</p>
                </div>
            </div>
            <!--  -->
            <button @click="onSave()" class="d-block">Lưu</button>
            <!--  -->
            <div class="line">
                <div class="member_search d-flex"
                        v-for="user in rearchResults"
                        :key="user"
                        @click="addMemberToStack(user.id, user.avatar_user, user.name)" >
                    <img :src="user.avatar_user" alt="">
                    <span>{{user.name}}</span>
                    <PlusOutlined />
                </div>
               
            </div>
        </div>

    </div>
</template>

<script setup>
import { computed, ref } from 'vue';
import { CloseOutlined, SearchOutlined, PlusOutlined } from "@ant-design/icons-vue";
import { useRoute } from "vue-router";
import { useFormStore } from '../../../stores/useFormStore.js';
import { useGroupStore } from '../../../stores/useGroupStore.js';

const route = useRoute()

const formStore = useFormStore()
const rearchResults = computed(() => useGroupStore().users)
const stackMembers = computed(() => useFormStore().stackMembers)
const groupId = computed(() => route.params.id)
const search = ref('')


const isShowAddMember = computed(() => formStore.isShowAddMember)

    const onClickHandler = () => {
        useFormStore().showAddMemberHandler()
        useFormStore().removeStackHandler()
        search.value = ''
    }

    const onSave = () => {
        useFormStore().addMemberHandler(groupId.value)
        useFormStore().showAddMemberHandler()
        useGroupStore().getGroups()
    }
    
    const addMemberToStack = (id, avatar, name) => {
        const member = {
            id: id,
            avatar: avatar,
            name: name
        }
        useFormStore().addStackMemberHandler(member)
    }

    const removeFormStack = (userId) => {
        useFormStore().removeMemberFromStack(userId)
    }

    function isSearch(){
        if(search.value === ''){
        
        return null
        }
        useGroupStore().searchUser(search.value)
        return computed(() => useGroupStore().users)
    }




</script>

<style scoped>
.form{
    left: 0;
    background: rgba(161, 161, 161, 0.572);
    height: 100%;
}
.btn_back{
    top: 30px;
    right: 20px;
    padding: 10px;
    width: 35px;
    height: 35px;
    background: var(--background);
    border-radius: 50%;
}
.search_icon{
    top: 20px;
    color: var(--purple);
    border-right: 1px solid var(--purple);
    padding: 0px 10px;
}
.form_input{
    padding:20px 20px;
    padding-top: 50px  ;
    margin: 30px auto;
    border-radius: 20px;
    background: white;
    width: 50%;
    height: 90%;
}
.form_input label{
    top: 6px;
    color: var(--purple);
}
.form_input input{
    color: rgb(134, 134, 134);
    width: 100%;
    border-radius: 15px;
    height: 35px;
    border: 2px solid var(--purple);
    padding: 0 45px;
}
.stack_member{
    min-width: 71px;
    margin: 5px 2px
}
.stack_member span{
    right: 5px;
    background: var(--background);
    border-radius: 50%;
    padding: 0 5px;
}
.stack_member p{
    font-size: 12px;
}
.stack_member img{
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border-radius: 20px;
}
.form_input button{
    color: var(--purple);
    border-radius: 10px;
    background: white;
    padding: 10px;
    width: 125px;
    margin: 10px auto;
    border: 2px solid var(--purple);
    margin-right: 10px;
}
.form_input button:hover{
    background: var(--purple);
    color: white
}
.line{
    height: 38vh;
    overflow-y: scroll;
    border-top: 2px solid var(--purple);
    padding: 10px 0px;
}
.member_search{
    padding: 5px 10px;
}
.member_search img{
    width: 45px;
    height: 45px;
    border-radius: 20px;
}
.member_search span{
    margin: 10px
}
.member_search:hover{
    border-left: 2px solid var(--purple);
    background: var(--background)
}
</style>

