<template>
    <div class="form position-absolute "
            :class="isShowEditGroupName ? 'd-block' : 'd-none'">
        <div class="form_input position-relative">
            <span class="position-absolute btn_back" @click="onClick()">x</span>    
            <h4>Chỉnh sửa tên đoạn chat</h4>
            <div class="position-relative">
                <label style="left: 20px" class="position-absolute" for="">Nhập tên nhóm:</label>
                <input v-model="newGroupName" type="text" :placeholder="groupName">
            </div>
            <button @click="onSave()" class="d-block">Lưu</button>
        </div>

    </div>
</template>

<script setup>
import { computed, ref } from 'vue';
import { useFormStore } from '../../../stores/useFormStore.js';
import { useGroupStore } from '../../../stores/useGroupStore.js';
import { useMessageStore } from '../../../stores/useMessageStore.js';
import { useRouter, useRoute } from "vue-router";


const route = useRoute()
const groupId = computed(() => route.params.id)
const formStore = useFormStore()
const newGroupName = ref('')

const isShowEditGroupName = computed(() => formStore.isShowEditGroupName)
const groupName = computed(() => useMessageStore().groupName)

    const onClick = () => {
        useFormStore().showEditGroupNameHandler()
    }

    const onSave = () => {
        if(newGroupName.value != ''){
            useMessageStore().saveGroupName(newGroupName.value)
            useGroupStore().updateGroupHandler(newGroupName.value, null, groupId.value)
            newGroupName.value = ''
            useGroupStore().getGroups()
        }
        useFormStore().showEditGroupNameHandler()
    }

</script>

<style>
.form{
    left: 0;
    background: rgba(161, 161, 161, 0.572);
    height: 100%;
}
.btn_back{
    right: 20px;
}
.form_input{
    padding:20px 20px;
    padding-top: 50px  ;
    margin: 50px auto;
    border-radius: 20px;
    background: white;
    width: 50%;
}
.form_input label{
    top: 6px;
    color: var(--purple);
}
.form_input input{
    width: 100%;
    border-radius: 15px;
    height: 60px;
    border: 2px solid var(--purple);
    padding: 0 20px;
    padding-top: 25px;
}
.form_input button{
    color: white;
    border-radius: 10px;
    background: var(--purple);
    padding: 10px;
    width: 125px;
    margin: 17px auto;
    border: 2px solid var(--purple);
}

</style>

