<template>
    <div class="app_form">
        <form action="" @submit.prevent="checkLogin()">
            <div class="app_form_input position-relative">
                <input type="text" name="phonenumber" v-model="phoneNumber" placeholder="Phonenumber">
                <phone-outlined class="icon position-absolute" />
            </div>
            <div class="app_form_input position-relative">
                <input type="password" name="password" v-model="passWord" placeholder="Password">
                <lock-outlined class="icon position-absolute"/>
            </div>
            <button type="submit" class="app_btn_login">Login</button>
        </form>
    </div>
</template>

<script setup>
import { PhoneOutlined, LockOutlined } from "@ant-design/icons-vue";
import { useAuthStore } from "../../stores/useAuthStore.js";
import { useRouter } from 'vue-router'
import { ref } from "vue";
        
const phoneNumber = ref('')
const passWord = ref('')

const router = useRouter()

const checkLogin = async () => {
    await useAuthStore().login(phoneNumber.value, passWord.value)
    if(localStorage.getItem('token') != ''){
        router.push({
            path: '/message/',
        })
    }
}

</script>

<style scoped>

.app_form{
    display: flex;
    flex-direction: column;
}
.app_form input{ 
    margin-bottom: 10px;
    padding:  5px 40px;
    border: none;
    color: rgb(74, 74, 74);
    border-bottom: 1.5px solid var(--purple);
    width: 100%;
}
.icon{
    left: 2px;
    position: absolute!important;
    top: 2px;
    font-size: 22px;
    color: rgb(112, 112, 112);
}
.app_form_input:hover .icon{
    filter: drop-shadow(0px 0px 6px #000000);
}
.app_btn_login{
    width: 50%;
    margin-top: 50px;
    margin-left: 130px;
    border: 2px solid var(--purple);
    transition: all .3s ease;
}
.app_btn_login:hover{
    filter: drop-shadow(2px 2px 6px var(--purple));
    background-color: #bdb7f9;
}
</style>


