<template>
    <div class="app_form">
        <div class="app_form_input position-relative">
            <input type="text" name="username" placeholder="Username" v-model="userName" >
            <user-outlined class="icon position-absolute" />
        </div>
        <div class="app_form_input position-relative">
            <input type="text" name="phonenumber" placeholder="Phonenumber" v-model="phoneNumber" >
            <phone-outlined class="icon position-absolute" />
        </div>
        <div class="app_form_input position-relative">
            <input type="password" name="password" placeholder="Password" v-model="passWord"  >
            <lock-outlined class="icon position-absolute"/>
        </div>
        <div class="app_form_input position-relative">
            <input type="file" name="avatar" class="opacity-0" placeholder="" @change="handleFileChange" >
            <FileImageOutlined class="icon position-absolute"/>
        </div>
        <button class="app_btn_login" @click="inforRegister" >Sign up</button>
    </div>
</template>

<script setup>
    import { useAuthStore } from "../../stores/useAuthStore";
import { UserOutlined, PhoneOutlined, LockOutlined, FileImageOutlined } from "@ant-design/icons-vue";
    import { ref, reactive } from 'vue';

    const userName = ref()
    const phoneNumber = ref()
    const passWord = ref()
    const avatar = ref()

    const handleFileChange = (event) => {
      avatar.value = event.target.files[0];
      const formData = new FormData();
        formData.append('bytes', avatar.value);
    }

    const inforRegister = () => {
        console.log(userName.value, phoneNumber.value, passWord.value)
        useAuthStore().register(userName.value, phoneNumber.value, passWord.value, avatar.value)    
    }

</script>


<style scoped>

.app_form{
    display: flex;
    flex-direction: column;
}
.app_form input{ 
    margin-bottom: 10px;
    padding:  5px 40px;
    border: none;
    color: rgb(74, 74, 74);
    border-bottom: 1.5px solid var(--purple);
    width: 100%;
}
.icon{
    left: 2px;
    position: absolute!important;
    top: 2px;
    font-size: 22px;
    /* filter: drop-shadow(2px 2px 6px #000000); */
    
    color: rgb(112, 112, 112);
}
.app_form_input:hover .icon{
    filter: drop-shadow(0px 0px 6px #000000);
}
.app_btn_login{
    width: 50%;
    margin-top: 50px;
    margin-left: 130px;
    border: 2px solid var(--purple);
}
.app_btn_login:hover{
    filter: drop-shadow(2px 2px 6px var(--purple));
    background-color: #bdb7f9;
}
</style>

