<template>
    <div class="container"> 
        <div class="app text-aline-center">
            <div class="app_btn">
                <div class=" button" :class=" state.isShow ? 'active' : '' " @click="onShowLogin()">SIGN IN
                </div>
                <div class="button" :class=" !state.isShow ? 'active' : '' " @click="onShowRegister()">SIGN UP
                </div>
            </div>
            <Register :class=" !state.isShow ? 'd-block' : 'd-none'"></Register>
            <Login :class=" state.isShow ? 'd-block' : 'd-none' "></Login>
            
        </div>
    </div>
</template>

<script setup>
import { ref, reactive } from 'vue';
import Login from "../components/accounts/Login.vue";
import Register from "../components/accounts/Register.vue";
const state = reactive({
    isShow: true
});

function onShowLogin() {
    state.isShow = true
}
function onShowRegister() {
    state.isShow = false        
}

</script>

<style scoped>
.app{
    margin: 30px auto;
    width: 400px;
    border: 1px solid #ffffff73;
    padding: 90px 65px;
    text-align: center;
    display: grid;
    row-gap: 60px;
    box-shadow: 1px 1px 53px var(--purple);
}
.app_btn {
    display: flex;
    justify-content: space-evenly;
}
.app_btn .button{
    font-size: 19px;
    font-weight: 500;
    padding:  0;
    background: none;
    border: none;
    transition: all .3s ease;
    color: rgb(153, 153, 153);
}
.app .active{
    color: rgb(59, 59, 59);
    border-bottom: 3px solid var(--purple);
}
.app_btn .button:hover{
    color: rgb(59, 59, 59);
    border-bottom: 3px solid var(--purple);
    filter: drop-shadow(2px 2px 4px var(--purple));
}

</style>