<template>
    <div class="container-fluid">
        <div class="row app">
            <Group>
            </Group>

            <Message>
            </Message>

            <EditNameGroup>  
            </EditNameGroup>

            <Profile>
            </Profile>

            <AddMember>
            </AddMember>

            
        </div>
    </div>  
</template>

<script setup>
    import Group from '../components/messages/Group.vue';
    import Message from '../components/messages/Message.vue';
    import EditNameGroup from '../components/messages/form/EditNameGroup.vue';
    import AddMember from '../components/messages/form/AddMember.vue';
    import Profile from '../components/profiles/Profile.vue';

</script>

<style>
.app{
    margin: 0 auto;
}

</style>